.header__block {
  width: 100%;
  font-weight: 900;
  min-height: 4rem;
  background-image: url("./header_bg.jpg");
  background-size: cover;
  box-shadow: 0px 8px 12px 6px rgb(202, 61, 61);
  box-sizing: border-box;

  .nav {
    width: 100%;
    min-height: 4rem;
    background-color: rgb(53 33 33 / 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav__list > ul {
      display: flex;
      align-items: center;
      gap: 4vw;

      > li:active {
        filter: drop-shadow(0 0 2rem rgb(251, 250, 253));
        transform: scale(0.96) translateY(5px);
      }

      > li:hover {
        filter: drop-shadow(0 -2mm 4mm rgb(236, 234, 235));
        color: black;
      }

      > li > a:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.28rem;
        left: 0;
        top: 2.4rem;
        background-color: hsl(155, 58%, 46%);
        border-radius: 5px;
      }
    }
  }
}
