.content__block {
  margin-top: 0.2rem;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow: hidden;

  &__img {
    position: relative;
    height: 100%;
    background-image: url("background_pic.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    .content__bolck__blur {
      height: 100%;
      background-color: rgb(27 1 1 / 60%);
      background-size: cover;
      overflow: auto;

      .alignment {
        margin: 2rem;
      }
    }
  }
}
