.content__block {
  margin-top: 0.2rem;
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
  background-image: url("background_pic.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  box-sizing: border-box;

    .content__bolck__blur {
      height: 100%;
      background-color: rgb(27 1 1 / 60%);
      background-size: cover;
      overflow: auto;

      .alignment {
        margin: 2rem;
      }
    
  }
}
