a {
  text-decoration: none;
  color: rgb(234, 234, 241);
}
ul {
  list-style: none;
}
.container {
  color: rgb(234, 234, 241);
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .header__title {
    position: absolute;
    left: 10vw;
  }
  .nav__list {
    display: none;
  }
}
